.logo {
  width: 60%;
  height: auto;
  margin: 3em auto auto auto;
  max-width: 300px;
}

.spacingTop {
  margin-top: 1.8em;
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 3em;
}
